.imagen-fondo {
    position: relative;
    filter: brightness(0.5);
}

.container-estilo {
    background-color: #fff;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 260px;
    text-align: center;
}

.body-color-fondo {
    background-color: rgba(26, 25, 25, 0.89);
  }

.color-blanco{
    text-align: center;
    font-size: 42px;
    font-family: 'sans-serif', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(252, 252, 252);
}

.overplay {
  position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /*background-color: rgba(0, 0, 0, 0.5); /* Oscurece la imagen de fondo */
    display: flex;
    justify-content: center;
    align-items: center;
}

.input-estilo {
  margin-bottom: 10px;
  text-align: left;
}

.input-estilo label {
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
}
  
